.Profilepage {
  /* margin: 0;

  background: radial-gradient(circle at bottom, #001f3f, #000000 70%);
  font-family: "Poppins", sans-serif;
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; */

  
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-top: 100px;
  background: radial-gradient(circle at bottom, #001f3f, #000000 70%);
  color: #fff;

  
  width: 100% !important;
  height: 1100px;
}

.row2_link {
  display: inline-block;
  color: #fff;
  /* لون النص */
  text-decoration: none;
  padding: 5px 10px;
  /* مسافة داخلية للرابط */
  border-top: 2px solid #fff;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-right: none;
  /* مفيش حد على اليمين */
}

.custominput::placeholder {
  color: #ffffff !important;
  opacity: .5 !important;
}

.btn_S {
  border-radius: 0.625rem;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  transition: all 0.3s ease;
}

.btn_S:hover {
  background-color: white;
  color: black;
}


.custominput::placeholder {
  color: #ffffff !important; /* غيّر اللون اللي يعجبك */
  opacity: .5 !important;  /* خليه واضح */
  font-size: 0.85rem;
}
.custominput{
  font-size: 0.9rem;
  padding: 0.5rem 0.75rem;
  height: 40px;
  border-radius: 6px;
}


.btn_deeb {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--radius);
  transition: all 0.2s ease-in-out;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-color: var(--primary);
   font-size: 0.95rem;
  height: 42px;
  padding: 0 1rem;
  border-radius: 6px;
}

.btn_deeb:disabled {
  opacity: 0.6;     
  cursor: not-allowed;
  pointer-events: none;

 }

 .reqStar{
  color: rgb(219, 37, 37);
  font-size: 14px;
  position: absolute;
  margin-left: 5px;
  margin-bottom: 5px;
}
