.dashboardbg {

  height: 1300px ;
  width: 100%;
  background: linear-gradient(to right, #11273e, #370106);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}