.dashboard-bg {
  margin: 0;
  padding: 0;
  padding-bottom: 450px;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(to right, #11273e, #370106);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.cardd {
  border: 1px solid black;
  border-radius: 12px;
  box-shadow: 
    0 8px 20px rgba(0, 0, 0, 0.35),
    0 12px 40px rgba(0, 0, 0, 0.25);
}

