.pricing_page {
  padding-bottom: 400px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.pricing_bg {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/images/pricing.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}
.pricing_bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}
.info {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 1.25rem;
}
.header {
  margin-top: 50px !important;
  background: linear-gradient(to right, white, rgb(187, 176, 176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerBtn {
  margin-top: 20px;
  width: 230px;
  font-size: 17px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.386);
}
.additions_h4 {
  color: rgb(255, 255, 255) !important;
  display: flex;
  margin-left: 30px;
  margin-top: 70px;
  margin-bottom: 30px;
  font-weight: 700 !important;
  background: linear-gradient(to right, white, rgb(187, 176, 176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hrStyle {
  width: 70px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 75, 128);
  margin: auto;
}

.parent_pricing {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 60px;
}
.customPricing {
  height: 400px;
  background-color: #3d6083;
  border: 1px solid black;
  border-radius: 11px;
}
.parent_pricing2 {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
}
.customPricing2 {
  height: 400px;
  background-color: #3d6083;
  border: 1px solid black;
  border-radius: 11px;
}

.additions {
  width: 95%;
  border: 1px solid black;
  margin: auto;
  background-color: #46497242 !important;
  border: 0px !important;
  border-radius: 10px;
  margin-top: 20px;
}

.accordion_button {
  background-color: transparent !important;
  border: white !important;
}
.options_container {
  display: flex;
  flex-direction: column;
  gap: 15px; /* المسافة بين كل خيار */
}

.option_dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #999;
  transition: all 0.2s ease;
}

.option_wrapper {
  display: flex;
  align-items: center;
  gap: 10px; 
  cursor: pointer;
}
.option_text {
  margin: 0;
  color: white;
  font-size: 1rem;
}
.option_dotActive {
  background-color: #c8c9c9;
}

.accordion_button.collapsed::after,
.accordion_button::after {
  background-image: url('data:image/svg+xml;utf8,<svg fill="white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/></svg>') !important;
}
.accordion_button:focus {
  box-shadow: none !important; 
  outline: none !important; 
}

.parent_reviews {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
}

.customReviews {
  width: 32% !important;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    80deg,
    rgba(133, 133, 133, 0.744),
    #696565bb,
    #323946c0,
    #1c2336,
    #1119349d
  );
  border: 1px solid rgb(22, 25, 37);
  border-radius: 11px;
}

@media (max-width: 768px) {

  .customPricing,
  .customPricing2,
  .customReviews {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .pricing_page {
    padding-bottom: 50px;
  }
  .parent_reviews,
  .parent_pricing {
    gap: 18px;
  }
  .parent_pricing2 {
    margin-top: 6px;
  }
  .info p {
    font-size: 0.8rem;
  }
  .additions_h4 {
    font-size: 15px;
    margin-left: 0px;
    justify-content: center;
  }
  .pricing_info {
    margin-top: 10px !important;
  }
}
