.pricing_page{
    padding-bottom: 400px;
}

.pricing_bg {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/images/WhatsApp\ Image\ 2025-11-19\ at\ 5.14.24\ PM.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  
}
.pricing_bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  height: 100vh;
}
.info {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 1.25rem;
}
.header {
  background: linear-gradient(to right, white, rgb(187, 176, 176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerBtn {
  margin-top: 20px;
  width: 230px;
  font-size: 17px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.386);
}
.why_deep_h4 {
  color: rgb(255, 255, 255) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-weight: 650;
  background: linear-gradient(to right, white, rgb(187, 176, 176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hrStyle {
  width: 70px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 75, 128);
  margin: auto;
}

.parent_cards {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  margin-top: 30px;
}

.customCard {
  width: 30% !important;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    80deg,
    rgba(133, 133, 133, 0.744),
    #696565bb,
    #323946c0,
    #1c2336,
    #1119349d
  );
  border: 1px solid rgb(22, 25, 37);
  border-radius: 11px;
}

.parent_cards2 {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.customCard2{

  width: 31% !important;
  height: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    80deg,
    rgba(133, 133, 133, 0.744) ,
    #696565bb ,

    #323946c0 ,

    #1c2336 ,
    #1119349d 
  );
  border: 1px solid rgb(22, 25, 37);
  border-radius: 11px;
}
.parent_card3{
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 30px;

}
.customCard3{
   width: 35% !important;
  height: 400px;
 background-color: #3d6083;
  border: 1px solid black;
  border-radius: 11px;
  margin-left: 10% !important;
}
.parent_card4{
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 100px;

}
.customCard4{
   width: 35% !important;
  height: 400px;
 background-color: #3d6083;
  border: 1px solid black;
  border-radius: 11px;
  margin-left: 35% !important;
}

@media (max-width: 768px) {
  .customCard {
    width: 100% !important;
  }

  .customCard3,
  .customCard4,.customCard2 {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .homeBody {
    padding-bottom: 50px;
  }
  .parent_card2 {
    gap: 18px;
    
  }
  .parent_card4 {
    margin-top: 6px;
  }
  .info p {
    font-size: 0.8rem;
  }
  .why_deep_h4 {
    font-size: 15px;
  }
  .pricing_info{
    margin-top: 10px !important;
  }
  /* .why_deep_h4_2{
  margin-left: 40px !important;
} */
}
