.Free {
  text-decoration: none;
}

.Free:hover {
  text-decoration: underline;
}
.resetPasswordPage {
  height: 1030px ;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at bottom, #001f3f, #000000 70%);
  font-family: "Poppins", sans-serif;
  color: #fff;
}
.btn_deeb {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--radius);
  transition: all 0.2s ease-in-out;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-color: var(--primary);
   font-size: 0.95rem;
  height: 42px;
  padding: 0 1rem;
  border-radius: 6px;
}


.custominput::placeholder {
  color: #ffffff !important; /* غيّر اللون اللي يعجبك */
  opacity: .5 !important;  /* خليه واضح */
}

.reqStar{
  color: rgb(219, 37, 37);
  font-size: 14px;
  position: absolute;
  margin-left: 5px;
  margin-bottom: 5px;
}




