.features_page {
  padding-bottom: 400px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.features_bg {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../assets/images/WhatsApp\ Image\ 2025-11-19\ at\ 5.14.24\ PM.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.features_bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  height: 100vh;
}
.info {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.info h1 {
  font-size: 3rem;
}
.info p {
  font-size: 1.25rem;
}
.header {
  background: linear-gradient(to right, white, rgb(187, 176, 176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.headerBtn {
  margin-top: 20px;
  width: 230px;
  font-size: 17px;
  border-radius: 30px;
  border: 1px solid rgba(255, 255, 255, 0.386);
}
.why_deep_h4 {
  color: rgb(255, 255, 255) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  font-weight: 650;
  background: linear-gradient(to right, white, rgb(187, 176, 176));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hrStyle {
  width: 70px;
  height: 3px;
  border-radius: 10px;
  background-color: rgb(0, 75, 128);
  margin: auto;
}

.parent_cards {
  width: 100% !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 18px;
  margin-top: 30px;
}

.customCard {
  width: 39% !important;
  height: 370px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    80deg,
    rgba(133, 133, 133, 0.744),
    #696565bb,
    #323946c0,
    #1c2336,
    #1119349d
  );
  border: 1px solid rgb(22, 25, 37);
  border-radius: 11px;
}
.CommingSoon {
  margin: 25px 25px;
  font-size: 22px;
  color: white;
  font-weight: 700;
}

.parent_card2 {
  width: 100% !important;
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  gap: 70px;
}

.customCard2 {
  width: 95% !important;
  height: 260px;
  padding: 0 30px;
  background-color: #000000 !important;
  border: 1px solid black;
  border-radius: 11px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.customCard2 h3 {
  font-size: 900;
  color: white;
  font-size: 35px;
}
.customCard2 p {
  font-size: 17px;
  color: white;
  opacity: 0.6;
}
.customCard2 button {
  margin-top: 10px;
  background-color: #000000;
  color: white;
  border: 0;
  margin-left: -5px;
  width: 113px;
  font-size: 20px;
}
.hrFreeStyle {
  width: 100%;
  height: 2px;
  opacity: 0.5;
  margin: 6px 0px 0px 0px;
  background-color: rgb(255, 255, 255);
}

@media (max-width: 768px) {
  .customCard {
    width: 100% !important;
  }
  .header{
    font-size: 35px !important;
  }
  .customCard3,
  .customCard4 {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .customCard2 {
    height: 400px !important;
  }
  .features_page {
    padding-bottom: 50px !important;
  }
  .parent_card2 {
    gap: 18px !important;
  }
  .parent_card4 {
    margin-top: 6px !important;
  }
  .info p {
    font-size: 0.8rem !important;
  }
  .why_deep_h4 {
    font-size: 15px !important;
  }
  .CommingSoon{
    display: flex;
    justify-content: center;
    margin-left: 0px;
  }

}
