.Free {
  text-decoration: none;
}

.Free:hover {
  text-decoration: underline;
}
.loginpage {
  margin: 0;
  display: flex;
  justify-content: center;
  
  background: radial-gradient(circle at bottom, #001f3f, #000000 70%);
  font-family: "Poppins", sans-serif;
  color: #fff;
}


.custominput::placeholder {
  color: #ffffff !important; 
  opacity: .5 !important; 
   font-size: 13px;
   
}








