.Free {
  text-decoration: none;
}

.Free:hover {
  text-decoration: underline;
}
.loginpage {
  margin: 0;
  display: flex;
  justify-content: center;
  
  background: radial-gradient(circle at bottom, #001f3f, #000000 70%);
  font-family: "Poppins", sans-serif;
  color: #fff;
}


.custominput::placeholder {
  color: #ffffff !important; 
  opacity: .5 !important; 
}

.customBorder {
  border: none !important;
  border-top: 2px solid rgba(255, 255, 255, 0.721) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.674)!important;
  border-right: 1px solid rgb(144, 143, 143)!important;
  border-bottom: 1px solid rgba(255,255,255,0.2)!important;
  
}
.customBorder2 {
  border: none !important;
  border-top: 2px solid rgba(184, 184, 184, 0.721) !important;
  border-left: 1px solid rgba(255, 255, 255, 0.674)!important;
  border-right: 1px solid rgb(144, 143, 143)!important;
  border-bottom: 2px solid rgba(255, 255, 255, 0.721)!important;
  
}






