.Free {
  text-decoration: none;
}

.Free:hover {
  text-decoration: underline;
}
.loginpage {
  height: 1030px ;
  display: flex;
  justify-content: center;
  background: radial-gradient(circle at bottom, #001f3f, #000000 70%);
  color: #fff;
}


.custominput::placeholder {
  color: #ffffff !important; 
  opacity: .5 !important; 
   font-size: 13px;
   
}

@media (max-width: 768px) {
  .loginpage {
    height: 700px ;
  }
}

.btn_deeb {
  display: inline-block;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: var(--radius);
  transition: all 0.2s ease-in-out;
  background-color: var(--primary);
  color: var(--primary-foreground);
  border-color: var(--primary);
   font-size: 0.95rem;
  height: 42px;
  padding: 0 1rem;
  border-radius: 6px;
}

.btn_deeb:disabled {
  opacity: 0.6;       
  pointer-events: none;
  cursor: not-allowed; 

}

.btn_deeb:hover {
  background-color: var(--secondary);
  border-color: var(--secondary);
  color: var(--secondary-foreground);
}

.reqStar{
  color: rgb(219, 37, 37);
  font-size: 14px;
  position: absolute;
  margin-left: 5px;
  margin-bottom: 5px;
}






